<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view title="New Trip">


    <ion-content has-header="true" padding="true">


        <div class="list">
            <form name="editTripForm">
                <label class="item item-input">
                    <input type="text" placeholder="Destination" required ng-model="tripDetail.destination">
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Expected Fee" ng-model="tripDetail.fee" required integer
                           name="fee">
                </label>

                <div class="item item-input" ng-show="editTripForm.fee.$error.integer">
                    <span class="input-label" style="color: red">This is not a valid number!</span>
                </div>
                <label class="item item-input">
                    <span class="input-label">Start_Date</span>
                    <input type="date" required ng-model="tripDetail.startDate">
                </label>

                <label class="item item-input">
                    <span class="input-label">Current</span> {{tripDetail.start_date | date: 'yyyy-MM-dd'}}
                </label>
                <label class="item item-input">
                    <span class="input-label">End_Date</span>
                    <input type="date" required ng-model="tripDetail.endDate">
                </label>
                <label class="item item-input">
                    <span class="input-label">Current</span> {{tripDetail.end_date | date: 'yyyy-MM-dd'}}
                </label>

                <div class="padding">
                    <button class="button button-block button-positive" ng-disabled="editTripForm.$invalid"
                            ng-click="update(tripDetail, editTripForm)">
                        Update
                    </button>
                    <!--<p class="text-center">-->
                    <!--<a href="#/forget">Forgot password</a>-->
                    <!--</p>-->
                </div>
            </form>
        </div>

    </ion-content>
</ion-view>
