<ion-view title="ForgetPassword">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">UserEmail</span>
                <input type="text" ng-model="user.userEmail">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="findMyPass(user)">
                Forget Password
            </button>
        </div>
    </ion-content>
</ion-view>
