<ion-view title="ForgetPassword">
    <ion-content>
        <form name="forgetPasswordForm">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">UserEmail</span>
                    <input type="email" required ng-model="user.userEmail">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" ng-disabled="forgetPasswordForm.$invalid"
                        ng-click="findMyPass(user, forgetPasswordForm)">
                    Forget Password
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
