<ion-view title="Search">
    <ion-content>

        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Place">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Time">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="College">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Major">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Expected Fee">
            </label>
        </div>

        <div class="padding">
            <button class="button button-block button-positive" ng-click="search(user)">
                Search
            </button>
        </div>
    </ion-content>
</ion-view>
