<ion-view title="MyTrips">
    <ion-nav-buttons side="right">
        <button class="button button-positive button-clear no-animation"
                ng-click="addMyTrip()">
            New Trip
        </button>
    </ion-nav-buttons>
  <ion-content class="has-header padding">
      <ion-list can-swipe="true" option-buttons="itemButtons">
          <ion-item ng-repeat="trip in trips" type="item-text-wrap" href="#/tab/myTrips/{{trip['id']}}" item="trip">
              Destination: {{trip['destination']}}
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>

