<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


    <!-- Pets Tab -->
    <ion-tab title="My Trips" icon="icon ion-home" href="#/tab/myTrips">

        <ion-nav-view name="tab-myTrips"></ion-nav-view>
    </ion-tab>


    <!-- Adopt Tab -->
    <ion-tab title="Top Trips" icon="icon ion-heart" href="#/tab/top">
        <ion-nav-view name="tab-top"></ion-nav-view>
    </ion-tab>


    <!-- About Tab -->
    <ion-tab title="Account" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>


</ion-tabs>

