<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{detailTrip['tripInfo']['tripId']}}">
  <ion-content has-header="true" padding="true">

      <ion-nav-buttons side="right">
          <button class="button button-positive button-clear no-animation"
                  ng-click="chat()" ng-if="!sameUser">
              Chat
          </button>
      </ion-nav-buttons>



      <!--<div class="item item-button-right">-->
           <!--Contact Me-->
          <!--<button class="button button-positive">-->
              <!--<i class="icon ion-android-call"></i>-->
          <!--</button>-->
      <!--</div>-->
  </ion-content>
</ion-view>
